
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #ffc107;
    --white: #ffffff;
    --mainbody: #212529 ;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.475);
}

span{
    color: var(--primary);
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--mainbody);
}


h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--white);
    font-weight: 700;
}   

a {
    color: var(--white);
    text-decoration: none;
}

img {
    width: 100%;
}

.bg-dark{
    background-color: var(--mainbody) !important;
}

.navbar{
    box-shadow: 0 1px 22px rgba(255, 255, 255, 0.185);
}

.navbar .logo {
    width: 160px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {  
    color: var(--primary) !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 1px;
    border-color: var(--primary);
    border-style:solid;
    color:var(--primary);
    transition: all 0.5s ease;
}

.navbar-nav>li{
    margin-left:20px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 10px;  
    color: var(--white);
    background-color: transparent;
    border: 3px solid var(--primary);
    transition: all 0.5s ease;  
}

.btn:hover{
    background-color: #f9c528;
    color: var(--mainbody);
}

.hero {
    background-image: url(/img/Main-Bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.708);
    z-index: -1;
}

.bg-main-text{
    padding: 50px;
    background-color:#000000a1;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--mainbody);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.col-img {
    background-image: url(/img/About.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.start{
    background-color:#ffffff2d;
    border: var(--primary) 3px solid;
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-size: 30px;
    flex: none;
    transition:background-color 0.80s ease;
}

.start:hover{
    background-color: #00000048;
}

.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    background-color: #00000081;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.project img {
    /* height: 300px; */
    opacity: 0.7;
    transition: all 0.4s ease;   
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}

.my{
    font-size: 25px;
    margin: 40px 60px 10px 57px;
}

.pricing i {
    font-size: 20px;
    color: var(--primary);
}

.pricing ul li {
    margin-top: 8px;
}

.headtext{
    font-size: 44px;
    letter-spacing: 2px;
}

.bodypart:hover {
    color: var(--white);
    background-image: url(/img/Product-1.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}  

.interior:hover {
    color: var(--white);
    background-image: url(/img/Product-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.lighting:hover {
    color: var(--white);
    background-image: url(/img/Product-3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.wheels:hover {
    color: var(--white);
    background-image: url(/img/Product-4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.money{
    background: var(--mainbody);
    padding: 15px;
    font-size: xx-large;
    color: var(--primary);
    font-style: italic;
    top: 0;
    transform: translate(-47px, 5px);
    clip-path: polygon(
        0 10%,
        0% 0,
        77% 0,
        80% 10%,
        98% 90%,
        100% 100%,
        0% 100%,
        0 90%,
        0% 10%)
}

.card{
    background-color: var(--primary);
    padding: 25px;
    transition: all 0.5s ease;
}

.card:hover{
    color: var(--white);
    background-color: transparent;
    border: 3px solid var(--primary);
    box-shadow: 0 8px 22px rgba(255, 213, 0, 0.701);
    border-top-right-radius: 130px;
    border-bottom-left-radius: 130px;
    padding: 25px;
}

.card a{
    border: 2px solid black;
}


.team-member img {
    width: 125px;
    height: 125px; 
    border-radius: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}



form .select-box{
    position: relative;
}

form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.02);
}

form select{
    color: var(--white);
    appearance: none;
    width: 100%;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
    height: 56px;
    border: transparent;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.02);
}

form select:focus{
    background-color: rgba(0,0,0,0.02);
}

form select option{
    background-color:var(--mainbody); 
    color: var(--white);
}

form .select-box::after{
    content: "";
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    border-right:1px solid var(--white);
    border-bottom :1px solid var(--white);
    transform: rotate(45deg);
    right: 25px;
    top: 50%;
    margin-top: -8px;
    pointer-events: none;

}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.078);
    margin: 0;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
  }

  label{
    font-size: large;
    position: absolute;
    margin: 8px 0 0 10px;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 22px;
    height: 22px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transition: 0.2s transform ease-in-out;
    background-color: var(--primary);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

form .check-box{
    position: relative;
    color: var(--white);
    width: 100%;
    height: 71px;
    border-radius: 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.02);
}

form .form-control:focus{
    background-color: var(--mainbody);
    color: #fff;
    border: 1px solid black;
}


.footer-top {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(/img/footer-1.jpg);
    background-position: top;
    background-size:cover;
    position: relative;
    z-index: 2;
}

.footer-top::after {
    content: ""; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.427);
    z-index: -1;
}

.footer-top a {
    color: var(--white);
    display: inline-block;
    position: relative;
    text-decoration: none;
}
  
.footer-top a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffc107;
    transition: transform 0.25s;
}
  
.footer-top a:hover::after {
    transform: scaleX(1);
}

.footer-bottom {
    background-color: var(--mainbody);
}

.iconbox{
    height: auto;
    width: 60px;
}


.serviceimg{
    box-shadow: var(--box-shadow);
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.serviceimg:hover{
    filter: none;
}

.new-card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--mainbody);
    padding: 25px;
}

.servicestyle{
   border-color: #d3d2d0b1;
   border-width: 5px 0 5px 0;
   border-style: solid;
}

.servicestyle:hover{
    border-color: var(--primary);
   border-width: 5px 0 5px 0;
   border-style: solid;
}

.modal-content{
    /* background-color: var(--mainbody); */
    color: var(--white);
}

.servicestyle a:hover{
    color: var(--primary);
    text-decoration: none;
}

.form {
    max-width: 500px;
    width: 100%;
    background: var(--white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.form .form-group {
    width: 100%;
}

.form .form-group .inputfield {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.form .form-group .inputfield .input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}


.form .form-group .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}

.form .form-group .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.form .form-group .inputfield .custom_select select {
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}


.form .form-group .inputfield .input:focus,
.form .form-group .inputfield .textarea:focus,
.form .form-group .inputfield .custom_select select:focus {
    border: 1px solid var(--primary);
}

.about {
    background-image: url(/img/2.jpg);
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.about::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.774);
    z-index: -1;
}

.dropdown-menu{
    background: var(--mainbody);
    border: 1px solid var(--primary);
}

.dropdown-menu .dropdown-item{
    color: var(--white);
}

.dropdown-menu .dropdown-item:hover{
    background-color: var(--primary);
}

.book-text{
    border-radius: 5px;
    margin-bottom: 10px;
    background: #00000023;
    padding: 10px;
}


@media only screen and (max-width:965px) {
    section {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

.accordion-item{
    border:none;
}

.accordion .accordion-item{
    background-color: var(--mainbody);
    color: rgba(255, 255, 255, 0.452);
}

.accordion-button{
    background-color: var(--mainbody);
    color: #ffffffd2;
    border-radius: 5px;
    position: relative;
}

.accordion-button::after{
    content: none;
}
 
.accordion-button::before{
    content: "+";
    padding-right: 10px;
    transition: content 0.5s ease;
}
 

.accordion-button:not(.collapsed) {
    color: var(--primary);
    background-color:#1a1e21aa;
}

button:focus,
input:focus,
textarea:focus,
select:focus{
    border: 2px solid var(--primary) !important;
    box-shadow: none !important;
}


.bottom{
    padding: 0 150px;
    background-color: rgba(0, 0, 0, 0.708);
}


.bg-product {
    background-image: url(/img/plan-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.bg-product::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.758);
    z-index: -1;
}

.up{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    line-height: 50px;
}

