name: Deploy static site to GitHub Pages

on:
  push:
    branches: ["main"]

permissions:
  pages: write
  id-token: write  # required for deploy-pages v3
  contents: read   # needed for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload static files
        uses: actions/upload-pages-artifact@v3
        with:
          path: .   # uploads all project files

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v3
